* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .farve {
  background-color: gray;
} */

.imggrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-left: 3rem;
}

.prisfor {
  text-decoration: line-through;
}

.product_billede {
  width: 100%;
  /* margin-left: 3rem; */
  display: block;
}

.knap {
  text-decoration: underline;
  font-weight: bold;
}

h1 {
  margin-bottom: 1rem;
}

h3 {
  margin-top: 10px;
}

.r {
  color: red;
  display: inline-block;
  transform: scale(-1, 1);
}

.product_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.rabat {
  color: beige;
  background-color: yellow;
  padding: 0.5rem;
  position: absolute;
  justify-self: end;
}

.udsolgt {
  color: beige;
  background-color: grey;
  padding: 0.5rem;
  position: absolute;
}

.hide {
  display: none;
}
