* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product_list_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  display: grid;
  grid-template-rows: auto auto 1fr auto auto;
}

.r {
  color: red;
  display: inline-block;
  transform: scale(-1, 1);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.produkt {
  text-align: center;
  /* background-color: #4e878c; */
  padding: 1rem;
  color: #e8ebe4;
  text-decoration: none;
  font-family: "Simonetta", serif;
  border-radius: 5px;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: auto auto 1fr auto auto;
  /* grid-row: span 4; */
}

/* .gro {
  filter: grayscale(100%);
} */

.overskrift {
  font-weight: bold;
  font-size: 1.8rem;
  margin-top: 10px;
}

.navn {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.pris {
  font-size: 1.3rem;
  margin-top: 1rem;
}

.nummer {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.read_more {
  text-decoration: underline;
  margin-top: 1rem;
}

.prisfor {
  text-decoration: line-through;
}

.rabat {
  color: beige;
  background-color: yellow;
  padding: 0.5rem;
  position: absolute;
  justify-self: end;
}

.udsolgt {
  color: beige;
  background-color: grey;
  padding: 0.5rem;
  position: absolute;
}

.hide {
  display: none;
}
